/.cache
/coverage
/dist
/lib
/node_modules
/package-lock.json
__screenshots__

npm-debug.log
**.orig
.idea

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
